@model QuizNetASPKolo.BusinessLogic.DTOs.QuestionDto
@{
    ViewData["Title"] = "Get";
}

<a class="btn btn-info" asp-controller="Question" asp-action="Update" asp-route-id="@Model.Id">Update</a>
<a class="btn btn-danger" asp-controller="Question" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
<h1>@Model.Text</h1>
<ul>
    <ul class="list-group">
        @for (int i = 0; i < Model.Answers.Length; i++)
        {
            if (i == Model.CorrectAnswerIndex)
            {
                <li class="list-group-item active">
                    @Model.Answers[i].Text
                </li>
            }
            else
            {
                <li class="list-group-item">
                    @Model.Answers[i].Text
                </li>
            }
        }
    </ul>
</ul>
