@model List<QuizNetASPKolo.BusinessLogic.DTOs.QuestionDto>
@{
    ViewData["Title"] = "GetAll";
}

<div class="modal fade" id="questionsMetadata" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="questionInfo">
                    <div class="text-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>


<h1>Questions</h1>
<a class="btn btn-primary" asp-controller="Question" asp-action="Create">Create</a>
<a class="btn btn-primary" asp-controller="Question" asp-action="GenerateQuiz" asp-route-quizType="random">Generate random Quiz</a>
<a class="btn btn-primary" asp-controller="Question" asp-action="GenerateQuiz" asp-route-quizType="recent">Generate Quiz with recent questions</a>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#questionsMetadata">
    Show metadata
</button>

<br />
@foreach (var question in Model)
{
    <h3>@question.Text</h3>
    <a class="btn btn-primary" asp-controller="Question" asp-action="Get" asp-route-id="@question.Id">Details</a>
    <a class="btn btn-info" asp-controller="Question" asp-action="Update" asp-route-id="@question.Id">Update</a>
    <a class="btn btn-danger" asp-controller="Question" asp-action="Delete" asp-route-id="@question.Id">Delete</a>
    <ul class="list-group">
        @foreach (var answer in question.Answers)
        {
            <li class="list-group-item">
                @answer.Text
            </li>
        }
    </ul>

}

@section Scripts{
    <script>
        $(document).ready(function() {
            $("#questionMetadata").on("shown.bs.modal",
                function(e) {
                    $.ajax({
                        url: "/api/questionsmetadata",
                        method: "GET",
                        success: function(data) {
                            $("#questionInfo").html("Currently there are " +
                                data.questionsCount +
                                " questions in the database. First question has been added on " +
                                data.oldestQuestion.toLocaleString() +
                                ". Newest question has been added on " +
                                data.newestQuestion);
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    });
                });
        });
    </script>
}